<!DOCTYPE html>
<html>
<head>
	<title>App Produto</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="nav-bar"></div>
	<div id="app">
		<div class="produto">
			<div class="produto-imagem">			
				<img v-bind:src="imagem" >
			</div>		
			<div class="produto-info">			
				<h1>{{produto}}</h1>
				<p v-if='emEstoque'>Em estoque</p>				
				<p v-else>Estoque esgotado</p>				
				<ul>
					<li v-for='detalhe in detalhes'>{{detalhe}}</li>
				</ul>

				<div v-for='variacao in variacoes' :key='variacao.id'>
					{{variacao.color}}
				</div>
			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					produto: 'Meia Azul',
					imagem: '../assets/vmSocks-blue.png',
					emEstoque: true,
					detalhes: ['80% cotton','20% polyester','Unisex'],
					variacoes: [
					{
						id: 2234,
						color: 'green'
					},
					{
						id: 2235,
						color: 'blue'
					}
					]
				}
			})
		</script>
	</div>
</body>
</html> 